.asset-card {
    cursor: pointer;
    min-width: 300px;
    padding: 20px;

    .content-title {
        font-weight: 400;
        color: rgba(0,0,0,.54);
    }

    .dollar-balance {
        color: rgb(5, 15, 25);
        font-size: 20px;
        font-weight: 400;
    }

    .asset-name {
        color: rgb(5, 15, 25);
        font-size: 20px;
        font-weight: 400;
    }

    .asset-balance {
        float: right;
        color: rgba(0,0,0,.34);
        font-size: 16px;
        font-weight: 400;
    }

    .content-body {
        margin-top: 10px;
    }
}

.selected {
    border-left: 3px solid #3f51b5;
}