<mat-card class="graph-card">

    <!-- Remove lines 4-5 and insert graph here -->
    <p>Display a graph for the selected currency. Use the past 24 hour market data from coinbase</p>
    <p *ngIf=symbol>selected symbol: {{symbol}}</p>
    
</mat-card>

