<koine-header></koine-header>

<div class="container">
    <div 
        fxLayout="row" 
        fxLayoutAlign="start start" 
        fxLayoutGap="180px">
        
        <div 
            fxLayout="column" 
            fxLayoutAlign="start start" 
            fxLayoutGap="20px">

            <h1>Assets</h1>

            <koine-asset-card 
                *ngFor="let asset of assetData" 
                [data]=asset
                (selectCard)=setSelected($event)>
            </koine-asset-card>

        </div>
        <div 
            fxLayout="column" 
            fxLayoutAlign="space-between start" 
            fxLayoutGap="20px">

            <h1>Market Data</h1>

            <koine-graph [symbol]=selectedAccount.symbol></koine-graph>

        </div>
    </div>
</div>
