<mat-toolbar color="primary" class="main-header">
    <mat-toolbar-row>
      <span>Koine</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar>
    <mat-toolbar-row class="helper-header">
      <span>Portfolio balance</span>
    </mat-toolbar-row>
</mat-toolbar>